* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --backgroundColor: #faf9ff;
  --selectColor: #ebeaf2;
  --darkPink: #f3f6fd;
}
html ul {
  list-style: none;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: var(--backgroundColor);
}
